.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 9px;
    gap: 20px;
    background-color: #303030;
}


.contato h1 {
    color: white;
    text-align: center; 
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.contato input {
    padding: 15px;
    width: 350px;
    border-radius: 5px;
    border: none;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.3); 
}

.contato form{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contato button {
    background-color: #C07212;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.contato button:hover {
    transform: translateY(-10px);
}
